.search {
  min-height: 741px;

  &__top {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #post_search {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .input-default {
      width: 50%;
      height: 45px;
      padding: 6px 12px;
      border: 1px solid #d9dadc;
      outline: none;
      font-size: 14px;
      @include placeholder();

      &:focus {
        border: 1px solid #a1a1a1;
        @include placeholder-2();     
      }
    }

    .search-btn {
      cursor: pointer;
      background-color: #d9dadc;
      min-width:45px;
      height: 45px;
      border: none;
      font-size: 16px;
      color: #6a6a6a;
      outline: none;

      &:hover {
      background-color: #c9c9c9;
      color: #6d6d6d;
      transition-duration: .3s;
      }
    }
  }

  &__bottom {
    width: 1300px;
    margin: 15px 0 0 135px;
    display: flex;

    &__left {
      width: 280px;
      margin: 0 40px 0 0;  

      &__which {
        display: flex;
        font-size: 14px;

        .post-search {
          outline: none;
          cursor: pointer;
          padding: 13px 37.8px;
          background: $hover;
          border: 1px solid $hover;
          transition-duration: .3s;
          color: #fff;
          width: 135.5px;
          margin: 0;
        }

        .artist-search {
          outline: none;
          cursor: pointer;
          padding: 13px 17px;
          background: #aaa;
          border: 1px solid #aaa;
          transition-duration: .3s;
          color: #fff;
          width: 135.5px;
          margin: 0;

          &:hover {
            background: rgb(192, 192, 192);
            border: 1px solid rgb(192, 192, 192); 
          }
        }
      }

      &__form {
        background-color: rgba(245, 245, 245, 0.897);
        margin: 40px 0 100px 0;
        display: block;
        box-shadow: none;
        padding: 16px;

        &__title {
          color: #333;
          font-size: 16px;
        }

        &__group {
          margin: 24px 0 0;
          font-size: 0;
          position: relative;

          &__label {
            display: flex;
            align-items: center;

            i {
              margin: 0 4px 2px 0;
              color: #888;
              font-size: 16px;
            }

            span {
              font-size: 14px;
            }
          }

          .input-left {
            width: 100%;
            margin: 8px 0 0;
            height: 42px;
            padding: 10px 16px 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 14px;
            outline: none;
            @include placeholder();

            &:focus {
              border: 1px solid #a1a1a1;
              @include placeholder-2();     
            }
          }

          select {
            margin: 8px 0 0;
            height: 42px;
            width: 100%;
            padding: 10px 16px 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 14px;
            cursor: pointer;
            -webkit-appearance: none;
            outline: none;
            z-index: 100;
            position: relative;
          }

          .fa-chevron-down {
            position: absolute;
            font-size: 18px;
            right: 17px;
            top: 54%;
            z-index: 50;
            color: #888;
          }

          .back-white {
            margin: 8px 0 0;
            height: 42px;
            width: 100%;
            padding: 10px 16px 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: $wh;
            font-size: 14px;
            cursor: pointer;
            -webkit-appearance: none;
            outline: none;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }

    &__right {
      width: 1120px;

      &__head {
        font-size: 18px;
        color: black;
        margin: 0 0 30px 20px;
      }

      &__number {
        color: #919496;
        margin: 0 0 16px 20px;

      }

      &__main {
        display: flex;
        flex-wrap: wrap;
      }

      &__nil {
        font-size: 28px;
        color: black;
        margin: 0 0 30px 20px;
      }

      &__text-2 {
        color: black;
        margin: 0 0 30px 20px;
      }
    }
  }
}