.search {

  &__top {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #post_search {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .input-default {
      width: 50%;
      height: 50px;
      padding: 6px 12px;
      border: 1px solid #d9dadc;
      outline: none;
      font-size: 14px;
    }
  }

  &__bottom {
    width: 1400px;
    margin: 0 0 0 140px;
    display: flex;

    &__left {
      width: 280px;
      margin: 0 40px 0 0;  
    }





    &__right {
      width: 1120px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}