.not-yet__container
  %h2.not-yet__container__text
    アーティスト情報

  %h3.not-yet__container__text-2
    アーティスト情報はまだ登録されていません。

  .not-yet__container__box
    = link_to new_artist_path do
      アーティスト情報を登録
