.show-main
  .show-main__container
    %h2.show-main__container__title
      アーティスト情報
    .show-main__container__line
    
    = render 'shared/show-artist'

    .show-main__container__bottom

      .show-main__container__bottom__field
        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__left
            フォロワー

        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__right
            = @artist.fav_count
            人

      .show-main__container__bottom__field
        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__left
            主な活動拠点

        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__right
            = @artist.active_place

      .show-main__container__bottom__field
        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__left
            紹介メッセージ

        .show-main__container__bottom__field__content
          .show-main__container__bottom__field__content__right
            = simple_format(@artist.introduction)

