.wrapper 
  = render 'shared/header'
  .mypage
    .mypage__container
      = render 'shared/side-bar'
      .right-main
        .not-yet
          = render 'not-yet-artist'
    = render 'shared/footer'
