.apps {
  display: flex;

  &__appStore {
    display: inline-block;
    height: 54px;
    margin-right: 10px;
    transition-duration: .3s;


    &:hover {
      opacity: .5;
    }
  }

  &__googlePlay {
    display: inline-block;
    height: 54px;
    transition-duration: .3s;


    &:hover {
      opacity: .5;
    }
  }
}