.home {

  &__container {
    margin: 60px 0 0;

    &__title {
      font-size: 38px;
      text-align: center;
      margin: 0 0 30px;
    }

    &__contents {
      display: flex;
      margin: 0 210px;
    }

    &__contents-2 {
      display: flex;
      margin: 0 60px;
    }

    &__today-none {
      text-align: center;
      font-size: 25px;
      margin: 45px 0 70px;
    }
  }

  .row {
    margin: 80px 0;
  }
}