* {
  box-sizing: border-box;
  font-family: monospace;
}
a {
  text-decoration: none;
  outline: none;
}

.sub-header {
  font-size: 30px;
  display: block;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

.error-msg {
  color: rgb(255, 64, 64);
  margin: 10px 0 0;
}