* {
  box-sizing: border-box;
  font-family: monospace;
}
a {
  text-decoration: none;
}
.sub-header {
  font-size: 30px;
  display: block;
}

nput[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 