.posts-box {
  background-color: rgba(245, 245, 245, 0.897);
  margin: 0 20px 20px;
  padding: 20px 20px;
  width: 400px;
  color: black;
  transition-duration: .3s;

  &:hover {
    opacity: 0.6;
  }

  &__top {
    display: flex;
    border-bottom: solid 1px  #c5c5c5;
    padding: 0 0 15px;

    &__image {


      img {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &__right {
      margin: 10px 0 0 25px;
      font-size: 15px;

      &__text {
        margin: 0 0 13px;
      }

      &__sub {
        color: #919496;
      }
    }
  }

  &__bottom {
    margin: 25px 0 0;

    &__box {
      display: flex;
      font-size: 15px;
      margin: 0 0 13px;

      &__left {
        color: #919496;
        width: 40%;
        text-align: center;
      }

      &__right {
        width: 50%;
      }
    }
  }
}


.posts-box-2 {
  background-color: rgba(245, 245, 245, 0.897);
  margin: 0 25px 20px 0;
  padding: 20px 20px;
  width: 370px;
  color: black;
  transition-duration: .3s;

  &:hover {
    opacity: 0.6;
  }

  &__top {
    display: flex;
    border-bottom: solid 1px  #c5c5c5;
    padding: 0 0 15px;

    &__image {


      img {
        display: block;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &__right {
      margin: 10px 0 0 25px;
      font-size: 15px;

      &__text {
        margin: 0 0 13px;
      }

      &__sub {
        color: #919496;
      }

      &__now-on {
        outline: none;
        padding: 0px 27px;
        background: #1ed760;
        color: #fff;
        width: 100px;
        margin: 0;
      }

      &__done-live {
        outline: none;
        padding: 0px 27px;
        background: hsl(0, 93%, 62%);
        color: #fff;
        width: 100px;
        margin: 0;
      }

      &__yet {
        outline: none;
        padding: 0px 27px;
        background: #aaa;
        color: #fff;
        width: 100px;
        margin: 0;
      }
    }
  }

  &__bottom {
    margin: 25px 0 0;

    &__box {
      display: flex;
      font-size: 15px;
      margin: 0 0 13px;

      &__left {
        color: #919496;
        width: 40%;
        text-align: center;
      }

      &__right {
        width: 50%;
      }
    }
  }
}