#slick-slide-control00, 
#slick-slide-control01, 
#slick-slide-control02, 
#slick-slide-control03, {
  display: none;
}

.arrows {
  position: relative;
  text-align: center;
  margin: 24px 0;

  .left-arrow {
    position: absolute;
    bottom: 110px;
    left: 60px;
    width: 90px;
    cursor: pointer;
  }

  .right-arrow {
    position: absolute;
    bottom: 110px;
    right: 60px;
    width: 90px;
    cursor: pointer
  }
}