.arrows {
  position: relative;
  text-align: center;
  margin: 24px 0;

  .left-arrow {
    color: #444444;
    position: absolute;
    bottom: 129px;
    left: 110px;
    font-size: 70px;
    cursor: pointer;
  }

  .right-arrow {
    color: #444444;
    position: absolute;
    bottom: 129px;
    right: 110px;
    font-size: 70px;
    cursor: pointer;
  }
}