.my-lives
  %h2.my-lives__title
    My LIVE
  .my-lives__line


  - if @posts.present?
    %h2.my-lives__text
      行きたいLIVEは
      = @count
      件をあります。

    .my-lives__main
      = render partial: 'post', collection: @posts

    .my-pagenate
      = paginate(@posts)

  - else
    %h2.my-lives__text-2
      My LIVEに追加したライブはありません。