.my-lives
  %h2.my-lives__title
    My LIVE
  .my-lives__line


  - if @posts.present?
    %h2.my-lives__text
      行きたいLIVEの内
      %span#my-lives-count
      件を表示。

    .my-lives__main
      = render partial: 'post', collection: @posts

    .my-pagenate
      = paginate(@posts)

  - else
    %h2.my-lives__text-2
      My LIVEに追加したライブはありません。