.post-delete
  .post-delete__top
    投稿を削除しますか？
  
  .post-delete__bottom
    .post-delete__bottom__left
      - if @post.status == true
        = link_to post_path(@post), method: :delete do
          はい
      - if @post.status == false
        = link_to done_destroy_post_path(@post), method: :delete do
          はい


    .post-delete__bottom__right
      いいえ
