= link_to post_path(post.id) do
  .post
    .post__box
      %h2.post__box__text
        LIVE予定日
      %h2.post__box__content
        = post.date_time.strftime("%Y年 %m月 %d日")

    .post__box.row
      %h2.post__box__text
        LIVE形式
      %h2.post__box__content
        = post.form.name

    .post__box.row
      %h2.post__box__text
        会場名
      %h2.post__box__content
        = post.venue
    
  