.search
  .search__top
    = search_form_for(@p, url: artist_search_searches_path)do |f|
      = f.search_field :name_or_active_place_cont, placeholder: "キーワード検索　（アーティスト名、活動拠点などから検索）", class: 'input-default'
      = button_tag 'search', name: nil, class: "search-btn" do
        %i.fas.fa-search


  .search__bottom
    .search__bottom__left__which
      .post-search.re-gray
        LIVE検索
      .artist-search.re-green
        アーティスト検索


    %p.search__bottom__nil
      アーティスト一覧



  .search__artists 
    = render partial: 'artist', collection: @artists_all

