= search_form_for(@q, url: post_search_searches_path)do |f|
  = f.search_field :artist_name_or_station_or_venue_or_address_cont, placeholder: "キーワード検索", class: 'input-default'

  = f.submit "完了", class: "comp-btn"
  
  = render partial: 'post', collection: @posts
