.live-yet
  .live-yet__top
    %h1.live-yet__top__text
      開催予定のLIVE
  
  - if  @posts.present?
    .live-yet__count
      = @count
      件のLIVEを開催する予定です。

  .live-yet__main
    - if  @posts.present?
      = render partial: 'shared/post', collection: @posts

    - else
      .live-yet__main__yet
        %h2.live-yet__main__yet__text
          現在開催を予定しているLIVEはありません。
        
        .live-yet__main__yet__box
          = link_to new_post_path do
            LIVE情報を投稿

  