.post-delete {
  height: 140px;
  width: 300px;
  position: absolute;
  left: 134px;
  top: 220px;
  z-index: 200;
  border: solid 1px  rgb(175, 175, 175);
  display: none;
  transition-duration: .3s;


  &__top {
    height: 50%;
    background-color: #F8F8F8;
    text-align: center;
    font-size: 15px;
    border-bottom: solid 1px rgb(175, 175, 175);
    line-height: 60px;
  }

  &__bottom {
    height: 50%;
    display: flex;

    &__left {
      width: 50%;
      background-color: #F8F8F8;
      text-align: center;
      font-size: 15px;
      border-top: none;
      border-right: solid 1px  rgb(175, 175, 175);
      line-height: 60px;
      transition-duration: .3s;


      &:hover {
        background-color: rgb(240, 240, 240);
        
        a {
          color: $hover;
        }
      }


      a {
        padding: 20px 60px 30px 60px;
        color: black;
        transition-duration: .3s;
      }
    }

    &__right {
      width: 50%;
      background-color: #F8F8F8;
      text-align: center;
      font-size: 15px;
      line-height: 60px;
      cursor: pointer;
      transition-duration: .3s;

      &:hover {
        background-color: rgb(240, 240, 240);
        color: $hover;
      }
    }
    
  }
}