.show-live{
  width: 860px;
  padding: 48px 48px 90px;
  background-color: $wh;

  &__text {
    font-size: 45px;
    line-height: 56px;
  }

  &__line {
    background: currentColor;
    margin: 0px 0px 10px 0px;
    color: $sub-green;
    display: inline-block;
    height: 3px;
    width: 186px;
    line-height: 3px;
  }

  &__info {
    margin: 70px 0 0;

    &__field {
      display: flex;
      margin: 20px 0 0;

      &__content {
        width: 50%;

        &__left {
          border-bottom: 1px solid #d9dadc;
          font-size: 16px;
          color: rgb(194, 193, 193);
          padding: 0 0 20px;
          height: 100%;
        }

        &__right {
          border-bottom: 1px solid #d9dadc;
          font-size: 16px;
          padding: 0 0 20px;
        }

        &__bottom {
          font-size: 16px;
          color: rgb(194, 193, 193);
        }
      }
    }

    &__btns {
      display: flex;
      border-top: 1px solid #d9dadc;
      margin: 40px 0 0;

      &__btn {
        margin: 45px 40px 0 0;
        
        a {
          padding: 15px 44px 17px;
          color: #616467;
          box-shadow: inset 0 0 0 2px #616467;
          font-size: 14px;
          border-radius: 500px;
          transition-property: background-color,border-color,color,box-shadow,filter;
          transition-duration: .3s;
          border-width: 0;
          letter-spacing: 2px;
          min-width: 160px;
          text-transform: uppercase;
          white-space: normal;

          &:hover {
            color: $wh;
            background-color: #616467;
          }
        }

        a.delete {
          padding: 15px 44px 17px;
          color: #616467;
          box-shadow: inset 0 0 0 2px #c55151;
          font-size: 14px;
          border-radius: 500px;
          transition-property: background-color,border-color,color,box-shadow,filter;
          transition-duration: .3s;
          border-width: 0;
          letter-spacing: 2px;
          min-width: 160px;
          text-transform: uppercase;
          white-space: normal;

          &:hover {
            color: $wh;
            background-color: #c55151;
          }
        }
      }

      .delete-post {
        font-size: 14px;
        cursor: pointer;
      }

      .cancel {
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}

.background {
  background-color: #222f41;
  width: 860px;
  height: 741px;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  display: none;
}